
* {
  box-sizing: border-box;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

aside {
  grid-area: aside;
}

footer {
  grid-area: footer;
}

.wrapper {
  margin: 0 auto;
  max-width: 1000px;
  padding: 1em 0;
  display: grid;
  grid-gap: 10px;
  grid-template-areas:
    "header"
    "main"
    "aside"
    "footer";
}

.wrapper > * {
  border: 2px dotted #f08c00;
  background-color: #bac9c3;
  border-radius: 5px;
  padding: 10px;
}

@media(min-width: 600px) {
  .wrapper {
    grid-template-columns: 1fr 1fr 150px;
    grid-template-areas:
      "header header header"
      "main   main   aside"
      "footer footer footer";
  }
}
