header .header-logo {
  grid-area: header-logo
}

header .header-search {
  grid-area: header-search
}

#nav-burger {
  grid-area: header-burger;
}

header .burger-icon {
  grid-area: burger-icon
}

header .header-menu {
  grid-area: header-menu
}

#burger-state {
  display: none;
}

.wrapper header {
  display: grid;
  grid-template-columns: 20px auto;
  grid-template-areas:
    "burger-icon header-search"
    "header-logo header-logo";
}

.when-burger {
  display: none;
}

.spacer {
  width: 100%
}

.wrapper header label {
  cursor: pointer;
}

header ul {
  list-style: none;
  margin: 0;
  padding-top: 0.5em;
  text-align: right;
}

#nav-burger ul {
  text-align: left;
  padding-left: 10px;
}
header a {
  text-decoration: none;
  color: black;
}

header li a {
  padding: 0 10px 0 10px;
}
header li a:hover {
  background-color: #b2d4b1;
}

.header-menu {
  display: none;
}

.header-menu li {
  display: inline-block;
}

.header-search {
  display: flex;
  justify-content: right;
}

@media (max-width: 599px) {

  #burger-state:checked + header {
    background-color: #f08c00;
    grid-template-columns: auto;
    grid-template-areas:
      "header-burger";
  }

  #burger-state:checked + header .when-burger {
    display: block;
  }

  #burger-state:checked + header .when-no-burger {
    display: none;
  }

  .header-social {
    display: none;
  }
}

@media (min-width: 600px) {
  .wrapper header {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas:
      "header-logo header-search"
      "header-logo header-menu";
  }

  .burger-icon {
    display: none;
  }

  .header-menu {
    display: block;
  }
}
